*,
*:after,
*:before {
box-sizing: border-box;
margin: 0;
font-family: 'Source Sans Pro', sans-serif;
}

nav {
  background-color: #374050;
  color: #ffffff;
  float: left;
  height: 1384px;
  margin: 0;
  position: relative;
  width: 15%;
}

li {
  margin: 15px 0;
}

li:hover {
  color: #ffffff;
}

p {
  margin: 15px;
}

section {
  width: 85%;
}

ul {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}

.add-user-div {
  border-left: 1px solid gray;
  background-image: url("assets/users.svg");
  background-size: 30px;
  background-repeat:  no-repeat;
  background-position: center;
}

.add-user-div:hover {
  background-image: url("assets/users-white.svg");
  background-size: 30px;
  background-repeat: no-repeat;
}

.administrative-icon {
  background-image: url("assets/administrative.svg");
}

.administrative-icon:active {
  background-image: url("assets/administrative-checked.svg");
}

.bar-chart {
  float: right;
  height: 200px;
  margin-right: 25px; 
}

.bar-chart-button {
  color: #62697B;
  border-radius: 30px;
  float: right;
  height: 30px;
  margin: 10px 200px;
  width: 100px;
}

.bio-article {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 30px 0 0px 0px;
}

.bio-dropdown {
  display: inline-block;
  height: 10px;
  margin-bottom: 2px;
  margin-left: 5px;
  width: 10px;
  vertical-align: middle;
}

.bio-name {
  font-weight: 100;
  margin: 20px 0;
}

.calendar-div {
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  background-image: url("assets/calendar.svg");
  background-size: 30px;
  background-repeat:  no-repeat;
  background-position: center;
}

.calendar-div:hover {
  background-image: url('assets/calendar-white.svg');
  background-size: 30px;
  background-repeat: no-repeat;
}

.calendar-icon {
  background-image: url("assets/calendar.svg");
}

.calendar-icon:hover {
  background-image:  url("assets/calendar-white.svg");
}

.chart-text {
  fill: #62697B;
}

.chart-number {
  color: #62697B;
  font-size: 0.5em;
  line-height: 1;
  text-anchor: middle;
/*  -moz-transform: translateY(-0.25em);
  -ms-transform: translateY(-0.25em);*/
  /*-webkit-transform: translateY(-0.25em);
  transform: translateY(-0.25em);*/
}

.chart-label {
  color: #62697B;
  font-size: 0.15em;
  text-anchor: middle;
 /* -moz-transform: translateY(0.7em);
  -ms-transform: translateY(0.7em);
  -webkit-transform: translateY(0.7em);*/
  transform: translateY(0.5em);
}

.description-button-icon {
  height: 11px;
  margin-right: 5px;
  width: 11px;
}

.description-header {
  background-color: #717E93;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  height: 75px;
  padding: 30px;
  width: 100%;
}

.description-header-button {
  background-color: #7F8BA4;
  border: none;
  color: #ffffff;
  font-size: 14px;
  height: 25px;
  margin-left: 10px;
  width: 60px;
}

.description-content-div {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 11px 0;
}

.description-content-hr {
  margin-left: 30px;
  width: 720px;
}

.description-content-text {
  color: #A4A8AD;
  margin-left: 40px;
}

.description-content-title {
  color: #717E93;
  margin-left: 30px;
}

.design-icon {
  background-image: url("assets/design.svg");
}

.design-icon:active {
  background-image: url("assets/design-checked.svg");
}

.donut-graph {
  display: inline-block;
  height: 200px;
  margin-left: 20px;
}

.donut-graph-button {
  color: #62697B;
  margin: 10px 270px;
  border-radius: 30px;  
  height: 30px;
  width: 160px;
}

.donut-graphs {
  display: flex;
  flex-direction: row;
  margin: 20px 20px; 
}

.executive-icon {
  background-image: url("assets/executive.svg");
}

.executive-icon:active {
  background-image: url("assets/executive-checked.svg");
}

.experience-level {
  margin-left: 93px;
}

.facebook-button {
  background-color: #5070BD;
}

.graph-arrow {
  height: 25px;
  margin: 0 5px;
  width: 25px;
}

.graph-line-left {
  width: 500px;
}

.graph-line-right{
  width: 600px;
}

.graph-section {
  background-color: #EEF2F6; 
  display: inline-block;
  height: 373px;
}

.graph-section-border {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

.hamburger-div {
  border-right: 1px solid gray;
  background-image: url("assets/hamburger.svg");
  background-size: 30px;
  background-repeat:  no-repeat;
  background-position: center;
}

.hamburger-div:hover {
  background-image: url('assets/hamburger-white.svg');
  background-size: 30px;
  background-repeat: no-repeat;
}

.hamburger-icon:hover {
  visibility: hidden;
}

.heading-nav {
  margin-top: 20px;
}

.hiring-lead {
  margin-left: 86px;
}

.hiring-lead-photo {
  border-radius: 50%;
  display: inline-block;
  height: 25px;
  margin-right: 10px;
  width: 25px;
  vertical-align: middle;
}

.home-icon {
  background-image: url('assets/home.svg');
}

.home-icon:hover {
  background-image: url('assets/home-white.svg');
}

.intro-buttons {
  background: none;
  height: 40px;
  margin-right: 10px;
  width: 40px;
  background-size: 17px;
  background-repeat: no-repeat;
  background-position: center;
}

.intro-buttons: hover {
  background-size: 17px;
  background-repeat: no-repeat;

}

.intro-button-bookmark {
  background-image: url('assets/bookmark.svg');
}

.intro-button-bookmark:hover {
  background-color: #46A5F4;
  background-image: url('assets/bookmark-white.svg');
}

.intro-button-edit {
  background-image: url('assets/edit.svg');
}

.intro-button-edit:hover {
  background-color: #46A5F4;
  background-image: url('assets/edit-white.svg');
}

.intro-button-university {
  background-image: url('assets/university.svg');
}

.intro-button-university:hover {
  background-color: #46A5F4;
  background-image: url('assets/university-white.svg');
}

.intro-buttons-div {
  display: flex;
  flex-direction: row;
  float: right;
  margin-top: 30px;
}

.intro-button-circle {
  border-radius: 50%;
}

.intro-button-main {
    background-image: url(assets/open.svg);
    background-size: 17px;
    background-repeat: no-repeat;
    background-position: 10px;
    display: inline-block;
    border-radius: 30px;
    font-size: 14px;
    height: 40px;
    margin-right: 10px;
    padding-left: 21px;
    width: 90px;
    vertical-align: middle;
}

.intro-button-main:hover {
  background-color: #46A5F4;
  background-image: url(assets/open-white.svg);
  background-size: 17px;
  background-repeat: no-repeat;
  background-position: 10px;
  color: #ffffff;
}


.intro-button-icon {
  display: inline-block;
  height: 15px;
  width: 15px;
  vertical-align: bottom;
}

.intro-heading {
  display: inline-block;
  margin: 30px 0 0px 30px;
}

.intro-nav {
  display: inline-block;
  font-size: 12px;
  margin-left: 30px;
}

.intro-nav:hover {
  color: #000000;
  font-weight: bold;
  border-bottom: 5px solid #46A5F4;
  padding-bottom: 15px;
}

.intro-location {
  height: 10px;
  width: 10px;
}

.intro-section {
  background-color: #FFFFFF;
  display: inline-block;
  height: 150px;
  vertical-align: top;
}

.intro-text {
  display: inline-block;
  font-size: 12px;
  margin: 5px;
}

.intro-text-div {
  display: flex;
  flex-direction: row;
  margin-left: 24px;
}

.intro-text-preview {
  color: #46A5F4;
}

.job-description {
  background-color: white;
  border: 1px solid gray;
  height: 750px;
  margin: 20px 43px;
  width: 800px;
}

.job-description-text {
  margin-left: 87px;
}

.job-description-title {
  margin-bottom: 89px;
}

.job-boards-icon {
  background-image: url("assets/job-board.svg");
}

.job-boards-icon:hover {
  background-image: url('assets/jobs-white.svg');
}

.jobs-icon {
  background-image: url('assets/job-board.svg')
}

.jobs-icon:hover {
  background-image: url('assets/jobs-white.svg');
}

.link-button {
  border: none;
  color: #ffffff;
  font-size: 16px;
  height: 50px;
  margin-top: 20px;
  width: 300px;
}

.link-button-icon {
  float: left;
  height: 15px;
  margin-left: 5px;
  width: 15px;
}

.link-form-button {
  background-color: #68B4B8;
  border: none;
  color: #ffffff;
  width: 50px;
  margin-bottom: 20px;
}


.link-header {
  color: #6D7380;
  margin-top: 20px;
}

.link-header-icon {
  display: inline-block;
  height: 16px;
  margin-right: 5px;
  margin-bottom: 3px;
  width: 16px;
  vertical-align: middle;
}

.link-input {
  font-size: 14px;
  height: 40px;
  margin-bottom: 20px;
  padding-left: 10px;
  width: 300px;
}

.link-input-form {
  display: flex;
  flex-direction: row;
}

.link-hr {
  margin: 20px 0;
}

.link-section {
  display: flex;
  flex-direction: column;
  float: right;
  width: 300px;
}

.link-text {
  color: #6D7380;
  font-size: 12px;
  margin-left: 0;
}

.linkedin-button {
  background-color: #3481B7;
}

.location {
  margin-left: 109px;
}

.locations-icon {
  background-image: url("assets/location.svg");
}

.locations-icon:hover {
  background-image: url('assets/location-white.svg');
}

.nav-header {
  color: #A4ADBD;
  font-size: 11px;
}

.main,
.admin,
.categories,
.bio-name {
  color: #A4ADBD;
  font-size: 13px;
}

.menu-div {
  border-right: 1px solid gray;
  background-image: url("assets/menu.svg");
  background-size: 30px;
  background-repeat:  no-repeat;
  background-position: center;
}

.menu-div:hover {
  background-image: url('assets/menu-white.svg');
  background-size: 30px;
  background-repeat: no-repeat;
}

.nav-icons {
  background-size: 17px;
  background-repeat: no-repeat;
  margin-left: 20px;
  padding-left: 31px;
}

.nav-hr {
  border-color: #000000;
  height: .5px;
}

.nav-sections {
  border-bottom: solid #000000 1px;
  display: inline-block;
  margin: auto;
  margin: 10px 0;
  width: 100%;
}

.position-title {
  margin-left: 73px;
}

.profile-pic {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.resources-icon {
  background-image: url("assets/resources.svg");
}

.resources-icon:active {
  background-image: url("assets/resources-checked.svg");
}

.resumes-icon {
  background-image: url("assets/resume.svg");
}

.resumes-icon:hover {
  background-image: url('assets/resume-white.svg');
}

.resume-section {
  background-color: #EEF2F6; 
  display: flex;
  flex-direction: row;
  height: 800px;
}

.salary {
  margin-left: 50px;
}

.search {
  background-image: url(assets/search.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 10px;
  border: none;
  color: #b4b7ba;
  font-size: 13px;
  height: 100%;
  padding-left: 39px;
  width: 100%;
}

.search-icons {
  height: 30px;
  margin: 0 20px 0 16px;
  width: 30px;
}

.search-section {
  border-bottom: 1px solid gray;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  height: 8vh;
  margin: 0;
  vertical-align: top;
}

.social-icon {
  background-image: url("assets/social.svg");
}

.social-icon:hover {
  background-image: url('assets/social-white.svg');
}

.status {
  margin-left: 129px;
}

.summary {
  border-bottom: 5px solid #46A5F4;
  padding-bottom: 15px;
}

.tasks-icon {
  background-image: url("assets/tasks.svg");
}

.tasks-icon:hover {
  background-image: url('assets/tasks-white.svg');
}

.top-icons {
  align-items: center;
  display: flex;
  height: 100%;
  margin: auto;
  width: 5%;
}

.top-icons:hover {
  background-color: #46A5F4;
}

.twitter-button {
  background-color: #46AAE8;
}

.users-icon {
  background-image: url("assets/users.svg");
}

.users-icon:hover {
  background-image: url('assets/users-white.svg');
}

.workflows-icon {
  background-image: url("assets/workflow.svg");
}

.workflows-icon:hover {
  background-image: url('assets/workflow-white.svg');
}
